node_modules
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ahoeykummerow/v17/DocumentLayout.json
.vs/ahoeykummerow/v17/DocumentLayout.backup.json
.vs/ahoeykummerow/v17/.wsuo
.vs/ahoeykummerow/FileContentIndex/b0411929-c99f-412d-8bf8-5c8b125b129e.vsidx
.vs/ahoeykummerow/FileContentIndex/91e0c67b-55f1-4155-bb57-f1054d218bf0.vsidx
.vs/ahoeykummerow/FileContentIndex/7c5ae15f-e84f-4e04-88a3-534b72f3cf65.vsidx
.vs/ahoeykummerow/FileContentIndex/56580bcb-e2d5-4f10-b7eb-2a9e1cfbe38c.vsidx
.vs/ahoeykummerow/FileContentIndex/4c94bdba-e5ea-459c-a817-ebdb02844e7a.vsidx
.vs/ahoeykummerow/config/applicationhost.config
